<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Perfil {% block titulo %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='estilo.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cadastrar">Cadastrar</a></li>
    </ul>
  </nav>
    {% block conteudo %}

    {% endblock %}
</body>
</html> 
